%table
  %tr
    %th Date
    %th Title
    %th Comp
    %th 
    %th 
    %th

  - job_listings.each do |listing|
    %tr
      %td.date= timeago_tag listing.posted_at,  :nojs => true
      %td= link_to listing[:title], job_listing_path(listing.id)
      %td.location=listing.compensation
      %td
        -if listing[:email].present?
          %a{href: listing[:email]}
            %i.fa.fa-envelope-o.fa-lg
      %td
        %a{href: listing.absolute_url, target: "_blank"}
          %i.fa.fa-files-o.fa-lg
      %td
        %a{href: "job_listings/#{listing.id}/scrape"}
          %i.fa.fa-wrench.fa-lg
      
