%menu
  %fieldset
    %form
      %legend Search
      %input.search-input{placeholder: "Ex: Java, Ruby, Freelance", type: "text", name: "query"}/

%table
  %tr
    %thead
      %th.date-col Posted
      %th.title-col Title
      %th.comp-col Compensation
      %th Location
      %th  
  %tbody  

    - job_listings.each do |job_listing|
      %tr
        %td.date= time_ago(job_listing.posted_at)

        %td=link_to job_listing[:title], job_listing_path(job_listing.id)

        %td.compensation
          -if job_listing.compensation.present? && job_listing.compensation.match(/\d/)
            =job_listing.compensation

        %td.location=job_listing.subdomain

        %td
          %ul.button-group{class: "round"}
            %li.has-tip{"data-tooltip" => "", title: "Bookmark"}
              %a.button.shallow.secondary.tiny{href: "#"}
                %i.fa.fa-star.fa-lg

            %li.has-tooltip{"data-tooltip" => "", title: "Hide"}
              %a.button.shallow.secondary.tiny{href: "#"}
                %i.fa.fa-ban.fa-lg

            %li.has-tooltip{"title" => job_listing[:email].present? ? "Email About Job" : "", "data-tooltip" => job_listing[:email].present?}
              %a.button.shallow.secondary.tiny{class: job_listing[:email].present? ? "" : "disabled", href: job_listing.email, target: "_blank"}
                %i.fa.fa-envelope-o.fa-lg

            %li.has-tooltip{"data-tooltip" => "", title: "View on Craigslist"}
              %a.button.shallow.secondary.tiny{href: "#"}
                %i.fa.fa-files-o.fa-lg

= "#{count} Total Results"
= paginate(job_listings)