.row
  %h2=job_listing.title

.row
  %menu
    %a.icon{href: "job_listings/#{job_listing.id}/scrape"}
      %i.fa.fa-star.fa-lg.bookmark-inactive

.row
  %ul
    %li
      posted
      =time_ago_in_words(job_listing.posted_at)
      ago
    - if job_listing.compensation
      %li=job_listing.compensation
    %li=job_listing.city.name.titlecase

.row
  %section.body= job_listing.body.html_safe

.row
  - if job_listing.email.present?
    %a{href: job_listing.email, target: "_blank"}
      .button Email

  %a{href: job_listing.absolute_url}
    .button View on Craigslist

  %a{href: job_listings_path}
    .button View All

  - if current_user && current_user.admin?
    %a{href: job_listing_scrape_path(job_listing.id)}
      .button.alert Re-scrape
