.row
  %h2=job_listing.title

.row
  menu
    %a.icon{href: "job_listings/#{job_listing.id}/scrape"}
      %i.fa.fa-star.fa-lg.bookmark-inactive

.row
  %ul
    %li
      posted
      =time_ago_in_words(job_listing.posted_at)
      ago
    - if job_listing.compensation
      %li=job_listing.compensation
    %li=job_listing.city.name.titlecase

.row
  %section.body= job_listing.body.html_safe

.row
  - if job_listing.email.present?
    .button=link_to 'Email', job_listing.email

  .button=link_to 'Craigslist', job_listing.absolute_url

  .button= link_to 'Scrape', job_listing_scrape_path(job_listing.id)
  .button= link_to 'View All', job_listings_path
