body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   16px;
  line-height: 20px;
}

a, a:hover {
  color: #333;
}

a:visited {
  color:rgb(153, 153, 154);
}

.button {
  a, a:hover {
    color: white;
  }
}

main {
  padding: 20px;
}

.date-col {
  max-width: 80px;
}
.comp-col, .compensation {
  max-width: 140px;
}
.date, .location, .compensation {
  font-size: 12px;
}

.compensation {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.body {
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid gray;
  padding: 20px;
  margin-bottom: 20px;
}

.bookmark-inactive:hover {
  color: red;
}

.row-menu-bar {
  width: 100px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px;
}

#consume-logo {
  line-height: 45px;
  font-size: 1.0625rem;
  margin: 0;
  font-weight: 900;
  color: white;
  padding: 0px 25px;
  font-size: 25px;
  a {
    color: white;
  }
}

.title-col {
  width: 500px;
}

.disabled {
  color: #ccc!important;
}