body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

a, a:hover {
  color: #333;
}

.button {
  border-radius: 3px;
  a, a:hover {
    color: white;
  }
}

main {
  padding: 20px;
}

.date-col {
  width: 80px;
}
.date, .location {
  font-size: 12px;
}

.body {
  border: 1px solid gray;
  padding: 20px;
  margin-bottom: 20px;
}